<template>
  <div class="container">
    <div class="section">
      <title-with-back :back="{ name: 'itemType' }">Item Type Detail</title-with-back>
      <div class="buttons is-justify-end">
        <edit-button :to="{ name: 'itemType-edit', params: { itemType } }" />
        <refresh-button :loading="fetching" @refresh="fetchData" />
      </div>
    </div>
    <div class="section">
      <item-type-detail
        readonly
        :name="name"
        :description="description"
      />
      <inventory-table :inventories="inventories" />
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import gql from 'graphql-tag';
  import { graphqlClient } from '@/client';
  import { ItemType } from '@/modals/itemType';
  import { InventoryQueryData } from '@/views/common/query';

  const query = gql`
  query ItemTypeDetail($id: String) {
    itemType(id: $id) {
      id
      name
      description
      inventory {
        id
        status
        lastSeenTime
        location {
          name
        }
        itemType {
          name
        }
      }
    }
  }
  `;

  interface ItemTypeData extends ItemType {
    inventory: InventoryQueryData[];
  }

  interface QueryResult {
    itemType: ItemTypeData[];
  }

  interface QueryVariable {
    id: string;
  }

  @Component<ItemTypeDetailPage>({
    components: {
      EditButton: () => import('@/components/EditButton.vue'),
      RefreshButton: () => import('@/components/RefreshButton.vue'),
      ItemTypeDetail: () => import('@/components/itemType/ItemTypeDetail.vue'),
      TitleWithBack: () => import('@/components/TitleWithBack.vue'),
      InventoryTable: () => import('@/components/inventory/InventoryTable.vue'),
    },
  })
  export default class ItemTypeDetailPage extends Vue {
    name: string = '';
    description: string = '';
    fetching: boolean = false;
    inventories: InventoryQueryData[] = [];

    @Prop({
      type: String,
      required: true,
    }) itemType!: string;

    mounted() {
      return this.fetchData();
    }

    fetchData() {
      this.fetching = true;
      return graphqlClient.query<QueryResult, QueryVariable>({
        query,
        variables: { id: this.itemType },
      })
        .then(({ data: { itemType } }) => {
          if (itemType.length !== 1) {
            this.$router.replace({ name: 'itemType' });
            return;
          }
          this.name = itemType[0].name;
          this.description = itemType[0].description;
          this.inventories = itemType[0].inventory;
          this.fetching = false;
        });
    }
  }
</script>
