<template>
  <div class="container">
    <div class="section">
      <title-with-back :back="{ name: 'itemType-detail', params: { itemType } }">Edit Item Type</title-with-back>
      <item-type-detail
        button="Save"
        :loading="loading"
        :name.sync="name"
        :description.sync="description"
        @submit="submit"
        @cancel="$router.back()"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import { Repository } from '@/modals/itemType';

  @Component<ItemTypeEditPage>({
    components: {
      TitleWithBack: () => import('@/components/TitleWithBack.vue'),
      ItemTypeDetail: () => import('@/components/itemType/ItemTypeDetail.vue'),
    },
  })
  export default class ItemTypeEditPage extends Vue {
    @Prop({
      type: String,
      required: true,
    }) itemType!: string;

    name: string = '';
    description: string = '';
    loading: boolean = false;

    mounted() {
      this.loading = true;
      return Repository.get(this.itemType)
        .then(({ name, description }) => {
          this.name = name;
          this.description = description;
          this.loading = false;
        });
    }

    submit() {
      this.loading = true;
      return Repository.update(this.itemType, { name: this.name.trim(), description: this.description.trim() })
        .then(() => {
          this.$router.push({ name: 'itemType' });
        });
    }
  }
</script>
