<template>
  <location-form
    :name.sync="name"
    :loading="loading"
    @submit="submit"
    @cancel="$emit('hide')"
  />
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';
  import { Repository } from '@/modals/location';

  @Component<CreateSection>({
    components: {
      LocationForm: () => import('./LocationForm.vue'),
    },
  })
  export default class CreateSection extends Vue {
    @Prop({
      type: Boolean,
      required: true,
    }) loading!: boolean;

    name: string = '';

    submit(): Promise<void> {
      this.$emit('update:loading', true);
      return Repository.create({ name: this.name.trim() })
        .then(() => {
          this.$emit('update:loading', false);
          this.$emit('refresh');
          this.$emit('hide');
        });
    }
  }
</script>
