<template>
  <tr class="listRow">
    <td>
      <router-link :to="{ name: 'location-detail', params: { location: location.id } }">{{ location.name }}</router-link>
    </td>
    <td>
      <div class="buttons is-justify-end">
        <edit-button outlined :to="{ name: 'location-edit', params: { location: location.id } }" />
        <delete-button outlined @delete="$emit('delete', location)" />
      </div>
    </td>
  </tr>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';
  import { Location } from '@/modals/location';

  @Component<LocationRow>({
    components: {
      EditButton: () => import('../EditButton.vue'),
      DeleteButton: () => import('../DeleteButton.vue'),
    },
  })
  export default class LocationRow extends Vue {
    @Prop({
      type: Object,
      required: true,
    }) location!: Location;
  }
</script>
