<template>
  <div class="control">
    <div
      class="select"
      :class="{ 'is-loading': loading }"
    >
      <select :value="value" @input="$emit('input', $event.target.value)">
        <option
          v-for="location in locations"
          :key="location.id"
          :value="location.id"
        >{{ location.name }}</option>
      </select>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import { Location } from '@/modals/location';

  @Component<LocationSelect>({})
  export default class LocationSelect extends Vue {
    @Prop({
      type: Boolean,
      default: false,
    }) loading!: boolean;

    @Prop({
      type: Array,
      required: true,
    }) locations!: Location[];

    @Prop({
      type: String,
      default: undefined,
    }) value!: string | undefined;
  }
</script>
