<template>
  <tr>
    <td>
      <router-link :to="{ name: 'user-detail', params: { user: user.id } }">{{ user.name }}</router-link>
    </td>
    <td>
      <div class="buttons is-justify-end">
        <edit-button outlined :to="{ name: 'user-edit', params: { user: user.id } }" />
        <delete-button outlined @delete="$emit('delete', user)" />
      </div>
    </td>
  </tr>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import { User } from '../../modals/user';

  @Component<UserRow>({
    components: {
      EditButton: () => import('../EditButton.vue'),
      DeleteButton: () => import('../DeleteButton.vue'),
    },
  })
  export default class UserRow extends Vue {
    @Prop({
      type: Object,
      required: true,
    }) user!: User;
  }
</script>
