<template>
  <loading-container class="container">
    <div class="section">
      <title-with-back :back="{ name: 'location-detail', params: { location } }">Edit Location</title-with-back>
      <location-form
        button="Save"
        @submit="submit"
        :name.sync="name"
        :loading="loading"
        @cancel="$router.back()"
      />
    </div>
  </loading-container>
</template>

<style scoped lang="scss">
  .section {
    padding-bottom: 0;
  }

  h5 {
    display: inline-block;
  }
</style>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import { Repository } from '@/modals/location';

  @Component<LocationUpdatePage>({
    components: {
      LocationForm: () => import('@/components/location/LocationForm.vue'),
      TitleWithBack: () => import('@/components/TitleWithBack.vue'),
      LoadingContainer: () => import('@/components/LoadingContainer.vue'),
    },
  })
  export default class LocationUpdatePage extends Vue {
    @Prop({
      type: String,
      required: true,
    }) location!: string;

    name: string = '';
    loading: boolean = false;

    mounted() {
      this.loading = true;
      return Repository.get(this.location)
        .then(({ name }) => {
          this.name = name;
          this.loading = false;
        });
    }

    submit(): Promise<void> {
      this.loading = true;
      return Repository.update(this.location, { name: this.name.trim() })
        .then(() => {
          this.$router.push({ name: 'location' });
        });
    }
  }
</script>
