<template>
  <div>
    <span v-if="activeItem">{{ activeItem.name }}</span>
    <button
      type="button"
      class="button is-primary is-outlined"
      @click.stop="active = true"
    >Select Item Type</button>
    <div class="modal" :class="{ 'is-active': active }">
      <div class="modal-background" />
      <div class="modal-card">
        <div class="modal-card-head">
          <p class="modal-card-title">Select Item Type</p>
          <button class="delete" aria-label="close" @click="active = false" />
        </div>
        <section class="modal-card-body">
          <item-type-select-box
            v-for="itemType in itemTypes"
            :key="itemType.id"
            :item-type="itemType"
            :active="itemType.id === value"
            @select="select(itemType.id)"
          />
        </section>
        <footer class="modal-card-foot">
          <button type="button" class="button" @click="active = false">Close</button>
        </footer>
      </div>
    </div>
  </div>
</template>

<style scoped>
  span {
    line-height: 36px;
    margin-right: 1rem;
  }
</style>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import { ItemType } from '@/modals/itemType';

  @Component<ItemTypeSelect>({
    components: {
      ItemTypeSelectBox: () => import('./ItemTypeSelectBox.vue'),
    },
  })
  export default class ItemTypeSelect extends Vue {
    active: boolean = false;

    @Prop({
      type: String,
      default: '',
    }) value!: string;

    @Prop({
      type: Boolean,
      default: false,
    }) loading!: boolean;

    @Prop({
      type: Array,
      required: true,
    }) itemTypes!: ItemType[];

    select(id: string) {
      this.$emit('input', id);
    }

    get activeItem() {
      if (!this.value) {
        return null;
      }
      return this.itemTypes.find((i) => i.id === this.value);
    }
  }
</script>
