<template>
  <div class="box" :class="{ active }" @click="$emit('select', itemType.id)">
    <div class="content">
      <span @click.stop="expand = !expand">
        <i
          class="material-icons"
          v-text="icon"
        />
        <span>{{ itemType.name }}</span>
      </span>
      <p v-show="expand">{{ itemType.description }}</p>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .content {
    > span, .material-icons {
      line-height: 36px;
    }
    .material-icons {
      cursor: pointer;
      vertical-align: middle;
      font-size: 1rem;
    }
  }
  .box {
    padding: .5rem 1rem;
    cursor: pointer;
  }

  .active {
    background-color: $primary-lighter;
    color: white;
  }
</style>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import { ItemType } from '@/modals/itemType';

  @Component<ItemTypeSelectBox>({})
  export default class ItemTypeSelectBox extends Vue {
    expand: boolean = false;

    @Prop({
      type: Object,
      required: true,
    }) itemType!: ItemType;

    @Prop({
      type: Boolean,
      default: false,
    }) active!: boolean;

    get icon() {
      return this.expand ? 'keyboard_arrow_down' : 'keyboard_arrow_right';
    }
  }
</script>
