<template>
  <div class="container">
    <div class="section">
      <h3 class="title has-text-centered">General Operation</h3>
      <div class="buttons">
        <button class="button is-primary">Check In</button>
        <button class="button is-primary">Check Out</button>
        <router-link :to="{ name: 'itemType' }" class="button is-primary">Inventory Management</router-link>
      </div>
    </div>

    <hr>

    <div class="section">
      <h3 class="title has-text-centered">Admin Operation</h3>
      <div class="buttons">
        <router-link :to="{ name: 'location' }" class="button is-primary">Storage Management</router-link>
        <button class="button is-primary">Collection Set</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({})
  export default class HomePage extends Vue {}
</script>
