<template>
  <nav class="navbar is-primary" role="navigation" aria-label="navigation">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">Inventory Management</router-link>
      <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          :class="classes"
          @click="active = !active"
      >
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </a>
    </div>
    <div class="navbar-menu" :class="classes">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Objects</a>
          <div class="navbar-dropdown">
            <router-link :to="{ name: 'location' }" class="navbar-item">Location</router-link>
            <router-link :to="{ name: 'itemType' }" class="navbar-item">Item Type</router-link>
            <router-link :to="{ name: 'user' }" class="navbar-item">User</router-link>
            <router-link :to="{ name: 'inventory-create' }" class="navbar-item">Inventory</router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component<AppNavbar>({})
export default class AppNavbar extends Vue {
    active = false;

    get classes() {
      return { 'is-active': this.active };
    }
}
</script>
