<template>
  <button
      @click="$emit('delete')"
      class="button is-primary"
      :class="{ 'is-outlined': outlined }"
  >
    <span class="icon">
      <i class="material-icons">delete</i>
    </span>
    <span>Delete</span>
  </button>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';

  @Component<DeleteButton>({})
  export default class DeleteButton extends Vue {
    @Prop({
      type: Boolean,
      default: false,
    }) outlined!: boolean;
  }
</script>
