<template>
  <button
      class="button is-primary"
      :class="{ 'is-loading': loading }"
      @click="$emit('refresh')"
  >
    <span class="icon">
      <i class="material-icons">refresh</i>
    </span>
    <span>Refresh</span>
  </button>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component<RefreshButton>({})
  export default class RefreshButton extends Vue {
    @Prop({
      type: Boolean,
      default: false,
    }) loading!: boolean;
  }
</script>

