<template>
  <div class="container">
    <div class="section">
      <title-with-back :back="{ name: 'user' }">User Detail</title-with-back>
      <div class="buttons is-justify-end">
        <edit-button :to="{ name: 'user-edit', params: { user } }" />
        <refresh-button :loading="fetching" @refresh="fetchData" />
      </div>
    </div>
    <div v-if="instance !== null" class="section">
      <user-detail
        readonly
        v-bind="instance"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Prop } from 'vue-property-decorator';
  import gql from 'graphql-tag';
  import { User } from '@/modals/user';
  import { graphqlClient } from '@/client';

  const query = gql`
  query UserDetail($id: String) {
    user(id: $id) {
      id
      name
    }
  }
  `;

  interface QueryResult {
    user: User[];
  }

  interface QueryVariable {
    id: string;
  }

  @Component<UserDetailPage>({
    components: {
      TitleWithBack: () => import('@/components/TitleWithBack.vue'),
      UserDetail: () => import('@/components/user/UserDetail.vue'),
      EditButton: () => import('@/components/EditButton.vue'),
      RefreshButton: () => import('@/components/RefreshButton.vue'),
    },
  })
  export default class UserDetailPage extends Vue {
    fetching: boolean = false;
    instance: User | null = null;

    @Prop({
      type: String,
      required: true,
    }) user!: string;

    mounted() {
      return this.fetchData();
    }

    fetchData() {
      this.fetching = true;
      return graphqlClient.query<QueryResult, QueryVariable>({
        query,
        variables: { id: this.user },
      })
        .then(({ data: { user } }) => {
          if (user.length !== 1) {
            this.$router.replace({ name: 'user' });
            return;
          }
          this.instance = user[0];
          this.fetching = false;
        });
    }
  }
</script>
