<template>
  <div class="container">
    <div class="section">
      <div>
        <h5 class="title is-5">User</h5>
        <div class="buttons is-justify-end">
          <router-link
            class="button is-primary"
            :to="{ name: 'user-create' }"
          >
              <span class="icon">
                <i class="material-icons">add</i>
              </span>
            <span>Add</span>
          </router-link>
          <refresh-button :loading="fetching" @refresh="fetchData" />
        </div>
      </div>
      <table class="table is-fullwidth">
        <thead>
        <tr><th>Name</th><th /></tr>
        </thead>
        <tbody>
        <user-row
          v-for="user in users"
          :key="user.id"
          :user="user"
          @delete="deleting = true; deleteTarget = $event"
        />
        </tbody>
      </table>
    </div>
    <delete-dialog
      v-if="deleting"
      :show.sync="deleting"
      :loading.sync="fetching"
      :id="deleteTarget.id"
      :name="deleteTarget.name"
      @refresh="fetchData"
    />
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import { Repository, User } from '@/modals/user';

  @Component<UserListPage>({
    components: {
      UserRow: () => import('@/components/user/UserRow.vue'),
      RefreshButton: () => import('@/components/RefreshButton.vue'),
      DeleteDialog: () => import('@/components/user/DeleteDialog.vue'),
    },
  })
  export default class UserListPage extends Vue {
    fetching: boolean = false;
    deleting: boolean = false;
    deleteTarget: User | null = null;
    users: User[] = [];

    mounted() {
      return this.fetchData();
    }

    fetchData() {
      this.fetching = true;
      return Repository.list()
        .then((users) => {
          this.users = users;
          this.fetching = false;
        });
    }
  }
</script>
