<template>
  <div id="app">
    <app-navbar />
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    components: {
        AppNavbar: () => import('./components/AppNavbar.vue'),
    },
})
export default class App extends Vue {}
</script>
