<template>
  <div class="container">
    <div class="section">
      <h5 class="title is-5">Import Inventory</h5>
      <div class="field">
        <div class="file has-name is-fullwidth">
          <label class="file-label">
            <input class="file-input" type="file" @change="file = $event.target.files[0]">
            <span class="file-cta">
            <span class="file-icon">
              <i class="material-icons">cloud_upload</i>
            </span>
            <span class="file-label">Choose a csv file</span>
          </span>
            <span class="file-name">{{ filename }}</span>
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <button
          class="button is-primary"
          :class="{ 'is-loading': loading }"
          :disabled="loading"
          @click="process"
        >Process</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
    components: {
      FileDropzone: () => import('@/components/FileDropzone.vue'),
    },
  })
  export default class BatchPage extends Vue {
    file: File = null;
    loading: boolean = false;

    get filename() {
      if (this.file === null) {
        return '';
      }
      return this.file.name;
    }

    process() {
      this.loading = true;
    }
  }

</script>
